<div class="container p-4">
    <h1>Agregar experiencia</h1>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/experience/add" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="titleExperience" placeholder="Título" autofocus>
                        </div>
                        <div class="form-group">
                            <textarea rows="4" name="experienceDescription" placeholder="Descripción..."></textarea>
                        </div>
                        <input type="submit" value="Enviar" class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>
    </div>        
</div>