<div class="container p-4">
    <h1>Actualizar experiencia</h1>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/experience/edit/{{experience.titleExperience}}" method="POST">
                        <input type="hidden" name="title" value="{{experience.titleExperience}}">
                        <div class="form-group">
                            <input type="text" class="form-control" name="titleExperience" placeholder="Título" value="{{experience.titleExperience}}" autofocus>
                        </div>
                        <div class="form-group">
                            <textarea rows="4" name="experienceDescription" placeholder="Descripción...">{{experience.experienceDescription}}</textarea>
                        </div>
                        <input type="submit" value="Enviar" class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>
    </div>        
</div>