<div class="container p-4">
    <div class="row">
        {{#each experience}}
            <div class="col-md-12">
                <div class="card text-center">
                    <div class="card-body">
                        <h3 class="card-title text-uppercase">
                            {{titleExperience}}
                        </h3>
                        <span>{{experienceDescription}}</span>
                        <br><br>
                        <a href="/experience/edit/{{titleExperience}}" class="control">
                            <div class="btn btn-secondary">Editar</div>
                        </a>
                        <a href="experience/delete/{{titleExperience}}" class="control">
                            <div class="btn btn-danger">Eliminar</div>
                        </a>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>Aún no se han añadido experiencias</p>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="row">
        <a href="/experience/add" class="control">
            <div class="btn btn-primary">Añadir</div>
        </a>
    </div>
</div>