<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/contact/contacting" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="contactName" placeholder="Name" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="E-mail">
                        </div>
                        <div class="form-group">
                            <textarea rows="4" name="contactMessage" placeholder="Mensaje..."></textarea>
                        </div>
                        <input type="submit" value="Enviar" class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>