<div class="container p-4">
    <h1>Actualizar about</h1>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/about/edit/{{about.title}}" method="POST">
                        <input type="hidden" name="about" value="{{about.title}}">
                        <div class="form-group">
                            <input type="text" class="form-control" name="title" placeholder="Título" value="{{about.title}}" autofocus>
                        </div>
                        <div class="form-group">
                            <textarea rows="4" name="userDescription" placeholder="Descripción...">{{about.userDescription}}</textarea>
                        </div>
                        <input type="submit" value="Enviar" class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>
    </div>        
</div>