<div class="container p-4">
    <div class="row">
            <div class="col-md-12">
                <div class="card text-center">
                    <div class="card-body">
                        <h3 class="card-title text-uppercase">
                            {{about.title}}
                        </h3>
                        <span>{{about.userDescription}}</span>
                        <br><br>
                        <a href="/about/edit" class="control">
                            <div class="btn btn-secondary">Editar</div>
                        </a>
                        <!--a href="/about/delete" class="control">
                            <div class="btn btn-danger">Eliminar</div>
                        </!a-->
                    </div>
                </div>
            </div>
    </div>
</div>