<div class="container p-4">
    <h1>Agregar soft skill</h1>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/softSkills/add" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="softSkill" placeholder="Título" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="number" name="levelSoftSkill" placeholder="Nivel" min="1" max="5" id="">
                        </div>
                        <input type="submit" value="Enviar" class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>
    </div>        
</div>