<div class="container p-4">
    <h1>Actualizar soft skill</h1>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/softSkills/edit/{{currentSoftSkill.softSkill}}" method="POST">
                        <input type="hidden" name="currentSoftSkill" value="{{currentSoftSkill.softSkill}}">
                        <div class="form-group">
                            <input type="text" class="form-control" name="softSkill" placeholder="Título" value="{{currentSoftSkill.softSkill}}" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="number" name="levelSoftSkill" min="1" max="5" value="{{currentSoftSkill.levelSoftSkill}}">
                        </div>
                        <input type="submit" value="Enviar" class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>
    </div>        
</div>