<div class="container p-4">
    <h1>Actualizar tecnología</h1>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/technologies/edit/{{currentTechnology.technology}}" method="POST">
                        <input type="hidden" name="currentTechnology" value="{{currentTechnology.technology}}">
                        <div class="form-group">
                            <input type="text" class="form-control" name="technology" placeholder="Título" value="{{currentTechnology.technology}}" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="number" name="levelTechnology" min="1" max="5" value="{{currentTechnology.levelTechnology}}">
                        </div>
                        <input type="submit" value="Enviar" class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>
    </div>        
</div>